<h1>Question</h1>
<p>Question: <%= @question.question %></p>

<%= link_to "Back", questions_path %> | <%= link_to "Edit", edit_question_path(@question.id) %>
<%= link_to_delete "Delete", question_path(@question.id) %>